
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");


.cycle-card--right {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	padding: 0 20px;
	margin-top: 27px;
	@media (min-width: 768px) {
		margin-top: 0;
	}
	@media (min-width: 1080px) {
		padding: 0 55px;
	}
}

//global

.super-card--container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	line-height: 22px;
	max-width: 1275px;
	margin: 0 auto;
	@media (min-width: 768px) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.super-card--title {
	font-size: 17px;
	font-weight: bold;
	margin: 30px 0 5px 0;
}

.super-card--button {
	color: #4e8bbd;
	border: 1px solid lightgray;
	padding: 10px 35px;
	background: white;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
	&:hover {
		background: lightblue;
		-webkit-transition: background 0.5s ease-in-out;
		transition: background 0.5s ease-in-out;
	}
	@media (min-width: 1080px) {
		font-size: 16px;
		padding: 10px 40px;
		margin-top: 20px;
	}
}

.super-card--img {
	width: 100%;
	height: 200px;
	@media (min-width: 768px) {
		width: 21rem;
		height: 320px;
	}
	@media (min-width: 972px) {
		width: 21rem;
		height: 320px;
	}
	@media (min-width: 1080px) {
		width: 36rem;
		height: 350px;
	}
}

.super-card--title {
	font-size: 17px;
	font-weight: bold;
	margin: 30px 0 0px 0;
	@media (min-width: 768px) {
		margin-top: 0;
	}
}

// Super-card-styles.

.super-card--title-cycle {
	margin: 20px 0;
}


.super-card--date-title {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px;
}

.super-card--info-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	@media (min-width: 768px) {
		padding: 0 30px;
	}
}

.super-card--button-container {
	margin-top: 15px;
	@media (min-width: 1080px) {
		// padding-top: 100px;
	}
}

.super-card--price {
	width: 100%;
	font-weight: 800;
}
