@import "utils/reusableCss";
@import 'utils/screenSizesMqMixin';
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://use.typekit.net/vxp3uzh.css");

@font-face {
    font-family: 'HelveticaNueu';
    src: url("/fonts/AvenirNext/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.eot?#iefix") format('embedded-opentype'), 
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.woff') format('woff'), 
        url('/fonts/AvenirNext/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.ttf')  format('truetype')
}

@font-face {
	font-family: 'HelveticaNueu';
	src: url('/fonts/helvetica-neue-5-cufonfonts-webfont/HelveticaNeue-MediumCond.woff.woff') format('woff'), /* Pretty Modern Browsers */
  }

.main-wrapper-longmont {
	background-size: cover;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.75)), to(rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px;
	font-family: rockwell, sans-serif;
	font-weight: 700;
}

.main-wrapper-img-longmont {
	background: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,g_xy_center,h_765,q_50,w_1665,x_2540,y_2020/v1/clients/longmontco/Visitors_Guide_Header_Gerardo_Brucker_2019_Cover_5e3e19ca-d58e-46e1-98d4-6c97db90e1c8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.follow-us-social-wrapper {
	background: #182e58;
}

.Search {
		margin: 0 10px;
		padding: 9px;
		cursor: pointer;
		&:hover {
			background: #182e58;
		}
	@include preDesktop {
		padding-top: 5px;
		margin-left: 10px;
	}
}

.logo-img {
	max-height: 50px;
	@include preDesktop {
		max-height: 75px;
	}
}

.header-menu-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: rockwell, sans-serif;
}

.hide {
	display: none;
}

.nav-icons * {
	margin: 0 5px;
	@include preDesktop {
		display: none
	}
}

//mobile menu

.submit-form {
	height: 40px;
    width: 75px;
    -webkit-transition: none;
    transition: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 15px;
	border: 0;
	color: white;
	background-color: #008CBA;
	font-family: rockwell, sans-serif;
}

.mobile-menu {
	background-color: #0c224c;
	padding: 30px 10px;
}

.mobile-dd .dd-top {
    padding: 15px 15px 25px;
    border-bottom: 1px solid #121720;
}

.shared-form {
	position: relative;
	z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: HelveticaNueu, sans-serif;
}

.shared-form .input-label {
    width: -webkit-calc(100% - 78px);
    width: calc(100% - 78px);
    font-family: inherit;
    color: white;
	font-size: 15px;
	font-family: rockwell, sans-serif;
	margin: 0;
}

.shared-form input {
    height: 40px;
    width: 93%;
    padding-left: 15px;
    line-height: 40px;
    margin: 5px 0 0;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    border: 0;
    -webkit-transition: none;
    transition: none;
}

.shared-form .submit-form {
    height: 40px;
    width: 75px;
    -webkit-transition: none;
    transition: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 15px;
    border: 0;
}

.item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
	background-color: #0c224c;
	border-bottom: 1px solid #121720;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	font-family: rockwell, sans-serif;
	cursor: pointer;
	&:hover {
		background-color: #192f59;
	}
	a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: rockwell, sans-serif;
		font-size: 20px;
		line-height: 20px;
		color: white;
		text-transform: uppercase;

	}
	@include preDesktop {
		background: transparent;
		border: none;
	}
}

.desktop-lower-nav {
	padding: 0;
	list-style-type: none;
}

.fa-angle-right{
    color: crimson;
	font-size: 20px;
	@include ipadPro {
		display: none !important;
	}
}

#Weather2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.secondary-mobile-nav {
	margin: 0;
	margin-top:10px;
	padding: 0;
	list-style-type: none;
	.item-inner a {
			font-size: 20px;
			color: #78acb3;
			text-transform: uppercase;
			font-weight: 700;
	}
}

.desktop-upper-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 145px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-top: 12px;
	text-transform: capitalize;
	.item-inner a {
		text-transform: capitalize;
		font-family: HelveticaNueu, sans-serif;
		font-size: 17px;
	}
	button {
		position: fixed;
		top: 25px;
		right: 15px;
		color: white;
		padding: 12px 16px;
		-webkit-transition: background 0.5s;
		transition: background 0.5s;
		background-color: crimson;
		text-transform: uppercase;
		border: 1px solid gainsboro;
		font-size: 12px;
		cursor: pointer;
		z-index: 1;
		font-family: HelveticaNueu, sans-serif;
		&:hover{
			background: #182e58;
		}
	}
}

.social-container {
	i {
		color: white;
		font-size: 24px;
		margin: 0 2px;
	}
}

.Search-container-longmont {
	position: absolute;
	top: 40px;
	right: 0;
	width: 250px;
	min-width: 400px;
    padding: 25px 35px 40px;
    background-color: #182e58;
}

.desktop {
	display: none;
	@media(min-width: 1025px) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}