.new-features-section--container {
	font-family: "Montserrat";
	color: #3f3f3f !important;
	line-height: 2;
}

.newFeatures--title {
	font-size: 20px;
	font-weight:400;
}

.list-container--options {
	
}