.flex {
	display: flex;
}

.flex-sb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-ai {
	display: flex;
	align-items: center;
}

.flex-jc {
	display: flex;
	justify-content: center;
}

.td-none {
	text-decoration: none;
}

.burger {
	width: 54px;
	height: 54px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: black;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.05);
	cursor: pointer;
	position: relative;

	.line {
		background: black;
		content: "";
		cursor: pointer;
		display: block;
		height: 2px;
		margin: 2.5px 0;
		transition: all 0.5s ease-in-out;
		width: 22px;
		-webkit-transition: all 0.5s ease-in-out;
	}
}