@import "utils/reusableCss";
@import "utils/screenSizesMqMixin";

.desktop {
	display: none !important;
	@include preDesktop {
		display: block;
	}
}

.burger-menu {
	@include preDesktop {
		display: none;
	}
}

.logo-corv {
	@include preDesktop {
		margin-left: 65px;
		img {
			max-width: 250px;
		}
	}
}

.main-header-container{
	display: flex;
    justify-content: center;
	align-items: center;
	font-family: 'Anton', sans-serif;
	max-width: 1400px;
    margin: 0 auto;
	@include preDesktop {
		justify-content: space-between;
	}
}

.open-menu-overlay {
	background: transparent;
	@include preDesktop {
		display: none;
	}
	.open-mobile-menu {
		display: none;
	}
}

.open-menu-active {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
}

.open-mobile-menu {
	width: 250px;
	font-family: 'Anton', sans-serif;
	background: rgb(255, 255, 255);
	// background: lightgray;
    position: fixed;
    top: 0px;
	left: 0px;
	bottom: 0;
    z-index: 5000;
	overflow-y: scroll;
	padding: 35px 0;
	// transition: all 2s linear;
	.close-x {
		right: 10px;
		font-family: 'Open Sans', sans-serif;
		top: 10px;
		padding: 5px;
		font-size: 30px;
		position: absolute;
		cursor: pointer;
		color: gray;
	}
	.menu-link-container {
		list-style-type: none;
		padding: 0;
		margin: 0;
		a {
			text-decoration: none;
			color: #595A5C;
			padding: 5px;
			font-family: 'Anton', sans-serif;
			font-size: 20px;
			li {
				padding: 0 0 3px 5px;
				border-bottom: 1px solid #aaa;
			}
		}
	}
}

.desktop-header-container {
	display: flex;
    flex-direction: column; ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		a {
			text-decoration: none;
			color: #595A5C;
			padding: 0 20px;
			font-size: 20px;
			text-align: center;
		}
	}

	.upper-menu-container {
		justify-content: flex-end;
		height: 40px;
			a {
				li {
					font-size: 14px !important;
				}
			}
		}

		.lower-menu-container {
			height: 40px;
		}
	}
	.social-container {
		width: 180px;
		position:absolute;
		top: 26px;
		right: -202px;
		font-size: 22px;
		margin-left: 20px;
		margin-bottom: 25px;
		a {
			color: #1e5885;
			margin-right: 15px;
		}
	}