@import "utils/reusableCss";
@import 'utils/screenSizesMqMixin';

$red: #F3575D;
$blue: #3C7D93;
$purple: #BA4896;

.main-header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.hh-button {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.hh-menu-button {
	background: $red;
}

.hh-search-button {
	background: $blue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hh-header-logo {
	img {
		max-height: 80px;
	}
}

.burger {
	.line {
		color: white;
		background: white;
		height: 3px;
	}
}