$main-color: #fcb133;
$main-font: "Berthhold Condensed";

@font-face {
	font-family: "Berthhold Condensed";
	src: url("../fonts/Block-Berthold-Condensed-Regular/Block-Berthold-Condensed-Regular.otf?#iefix")
			format("embedded-opentype"),
		url("../fonts/Block-Berthold-Condensed-Regular/Block-Berthold-Condensed-Regular.otf")
			format("otf"),
		url("../fonts/Block-Berthold-Condensed-Regular/Block-Berthold-Condensed-Regular.otf")
			format("truetype");
}

@font-face {
	font-family: "Berthhold Condensed";
	src: url("../fonts/Block-Berthold-Condensed-Regular/Block-Berthold-Condensed-Regular.otf")
		format("otf");
}

.main-header {
	display: flex;
	flex-direction: row-reverse;
	height: 5.9375rem;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	font-family: $main-font;
	background: $main-color;
	.menu-text {
		color: #fefefe;
		font-family: $main-font, Arial, Segoe, sans-serif;
		font-weight: 700;
		line-height: 1;
		margin-top: 0.25rem;
		text-transform: uppercase;
		font-size: 11px;
	}
	.logo-svg-a {
		@media(min-width: 1025px) {
			width: 490px;
		}
	}
	.logo-svg {
		height: 3.1rem;
		@media (min-width: 768px) {
			height: 5rem;
		}
		@media (min-width: 1026px) {
			width: 210px;
		}
	}
	@media (min-width: 768px) {
		flex-direction: row;
		padding-left: 0px;
		padding-right: 10px;
	}
	@media(min-width:1026px) {
		height: 6.575rem;
	}
}

.outer-burger-container {
	justify-content: center;
	height: 95px;
	width: 65px;
	background: #f89d05;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media(min-width: 1025px) {
		height: 106px;
	}
.burger-container {
	width: 31px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	.line {
		content: "";
		margin: 2.5px 0;
		outline: none;
		cursor: pointer;
		height: 3px;
		width: 23px;
		background: #fff;
		transition: all 0.5s ease-in-out;
		@media(min-width: 1025px) {
			height:4px;
		}
	}
	}
}

// main menu section

.main-menu-section {
	top: 0;
	position: absolute;
	background: white;
	font-family: $main-font;
	width: 95%;
	border-left: 0.5rem solid #003662;
	border-top: 0.5rem solid #003662;
	z-index: 300;
	#close-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fcb133;
		color: #fff;
		cursor: pointer;
		height: 2rem;
		position: absolute;
		right: 0;
		top: 0;
		width: 2rem;
		@media(min-width: 768px) {
			width:2.75rem;
			height:2.75rem;
		}
	}
	.nav-open-logo {
		background-color: #0074ae;
		color: #fff;
		margin: 0 auto;
		padding: 4px 0.35rem;
	}
	.menu-option {
		display: flex;
		align-items: center;
		font-family: $main-font;
		border: 1px solid #fcb133;
		border-left-width: 0.25rem;
		font-size: 1.2rem;
		margin-bottom: 15px;
		text-transform: uppercase;
		width: 100%;
		.menu-text {
			padding: 8px;
		}
		@media(min-width: 768px) {
			width: auto;
			border: none;
			border-right: 1px solid #fcb133;
			margin-bottom:0;
		}
	}
	@media (min-width: 375px) {
		width: 97.94%;
	}
	@media (min-width: 768px) {
		width: 97.8%;
		margin-bottom: auto;
		margin-top: 25vh;
		border:none;
		border: 8px solid #063a65 ;
		z-index: 20000;
	}
	@media(min-width: 768px) {
		width: 98.5%;
	}
}

.lower-option {
	font-family: $main-font;
}

#Weather {
	display: none;
	@media (min-width: 768px) {
		display: flex;
	}
}

.menu-icons {
	fill: #747676;
	height: 1.25rem;
	vertical-align: text-top;
	width: 1.25rem;
	padding-left: 5px;
}

//   LOWER MENU
.lowerMenu {
	display: flex;
	background: white;
	justify-content: space-between;
	text-align: center;
	@media (min-width: 768px) {
		padding: 8px 100px;
		justify-content: space-around;
	}
	@media (min-width: 1025px) {
		padding: 8px 240px;
	}
}
.lower-menu-icons {
	display: none;
	fill: black;
	height: 1.5rem;
	width: 1.5rem;
	@media (min-width: 768px) {
		display: block;
	}
}

// /search styles
.page-search__container {
	background-color: #fefefe;
	border-bottom: 0.25rem solid #063a65;
	border-left: 1px solid #063a65;
	border-right: 1px solid #063a65;
	left: 0;
	max-width: 18.75rem;
	padding: 1rem 1rem 0;
	position: absolute;
	top: 86px;
	width: 100%;
	z-index: 10;
	@media (min-width: 768px) {
		top: 86px;
		right: 0 !important;
		left: auto;
		max-width: 16.75rem;
	}
	.search-btn {
		-webkit-appearance: none;
		background-color: #0074ae;
		border: 1px solid transparent;
		border-radius: 0;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: Berthhold Condensed, Arial, Segoe, sans-serif;
		font-size: 1.1rem;
		font-weight: 700;
		line-height: 1;
		margin: 0 0 1rem;
		padding: 0.7rem 0.9rem 0.5rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
		transition: background-color 0.3s ease, color 0.3s ease;
		vertical-align: middle;
		will-change: background-color, color;
	}
	.cancel-btn {
		background-color: transparent;
		border: 1px solid #686b6b;
		color: #686b6b;
		text-transform: uppercase;
	}

	.page-search__input {
		background-color: #fefefe;
		border: 1px solid #cacaca;
		border-radius: 0;
		box-shadow: inset 0 1px 2px rgba(40, 40, 40, 0.1);
		box-sizing: border-box;
		color: #282828;
		display: block;
		font-family: inherit;
		font-size: 1rem;
		font-weight: 400;
		height: 2.4375rem;
		margin: 0 0 1rem;
		padding: 0.5rem;
		transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
		width: 100%;
	}
}

.menu-container--main {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	align-items: center;
	list-style-type: none;
	.upper-menu--section {
		width:100%;
		@media(min-width: 768px) {
			// flex-flow: row wrap;
			display: flex;
			justify-content: space-around;
		}
		@media(min-width: 1026px) {
			padding-top: 2rem;
		}
	}
	.lower-menu--section {
		margin-top:40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		@media(min-width: 768px ) {
			flex-direction: row;
			width: auto;
		}
	}
}

.menu-background {
	width: 100%;
    height: 100vh;
    top: -135px;
    background-color: rgba(0,25,49,.8);
	position: relative;
	z-index: 3;
}

.icon {
	fill: white;
    height: 1.5rem;
    vertical-align: bottom;
    width: 1.5rem;
}

.page-social {
	display: none;
	@media(min-width: 1025px) {
		display: flex;
		align-items: center;
	}
}

.page-social__link {
	padding: .25rem .5rem;
	opacity: .6
}











.flex {
	display: flex;
	align-items: center;
}
