/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,500,500i,600,600i,700');
$montFont:"Montserrat", sans-serif;

@import 'climacons.scss';

.kala-flex {
	display: flex;
  align-items: center;
.kala-right-nav {
  justify-content: space-around;
	width:25%;
	@media(min-width:1024px) {
		display: none;
	}
  }
}

.kala-logo {
	width: 100%;
	padding-left: 0.9375rem;
}

.kala-header-container {
	background: #000000;
	color: #ffffff;
	height: 2.8125rem;
	justify-content: space-between;
	padding: 20px 0;
  @media(min-width: 768px) {
    padding: 8px 0;
  }
  @media(min-width: 1024px) {
		padding: 12px 0;
		box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.3);
	}
	@media(min-width: 1024px) {
		padding: 20px 0;
  }
}

.kala-burger {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-right: 10px;

  .kala-line {
    margin: 2.5px 0;
    cursor: pointer;
    height: 2px;
    width: 17px;
    background: #fff;
    display: block;
    content: "";
    box-shadow: none;
    right: 4px;
    top: 10px;
    transition: all 0.5s ease-in-out;
    @media(min-width:768px) {
      height:4px;
      width:25px;
      color:white;
    }
  }
}

.kala-logo-container {
  width: 60%;
  @media(min-width: 768px) {
    width: 44%;
  }
  @media(min-width: 1024px) {
    width: 35%;
	}
}

.kala-button {
  padding: 9px;
	background-color: #57b649;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family: $montFont;
	font-weight: normal;
	line-height: normal;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	color: #ffffff;
	transition: background-color 300ms ease-out;
}

.kala-curve {
  @media(min-width:760px) {
    height: 40px !important;
  }

}

.kala-search-text {
  border: 1px solid lightgray;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.875rem;
		padding: 0.5rem;
		&:focus {
			background: #fafafa;
			border-color: #999999;
			outline: none;
		}
    @media(min-width:768px) {
      width: 22rem;
    }
}



.kala-search {
  font-size:23px;
  @media(min-width: 1025px) {
    font-size: 30px;
  }
}

.kala-mobile-search-close {
  padding: 9px;
  background-color: lightgray;
  color:white;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  display: flex;
}

#kala-form-container {
  display: flex;
  justify-content: center;
  background: white;
  position: absolute;
  top: 0;
	right: 0;
  width: 100%;
  padding: 5px;
  z-index: 40;
  opacity: 1;
  @media(min-width:768px) {
    padding: 12px;
  }
}

// KAL-UPPERMENU-CSS
.kala-white-logo-container {
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.kala-menu-container {
  display: none;
  top: 0;
  position: absolute;
  z-index: 3040;
  background: white;
  width: 100%;
  .kala-logo-white {
    width: 240px;
    padding-left: 7px;
  }
  .kala-br {
    margin-top:20px;
    border-bottom: 1px solid lightgray;
    width:100%;
  }
}

.kala-green-x {
  background-color: #57b649;
  color: white;
  height:35px;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  text-align: center;
  font-weight: bold;
  margin-right:5px;
  font-family: $montFont;
}

.kala-menu-ul {
  display: flex;
  flex-direction: column;
  font-family: $montFont;
  a, .kal-upperMenu-option {
    text-decoration: none;
    color:black;
	}
	@media(min-width: 1024px) {
		width: 75%;
    text-align: center;
		justify-content: center;
		align-items: center;
		padding-right: 40px;
		position: relative;
	}
	@media(min-width:1025px) {
		width: 64%;
	}
	@media(min-width:1300px) {
		width: 44%;
	}

  .kala-menu-option {
    background: rgba(255, 255, 255, 0);
    padding: 11px 8px;
    padding-left: 45px !important;
    position: relative;
    font-family: $montFont;
		font-weight: 500;
    &:before {
      position: absolute;
      content:'*';
      top: 10px;
      left: 10px;
      width: 20px;
      height: 21px;
      background: url('https://www.discoverkalamazoo.com/assets/oc-menu/home.png')
    }
        @media(min-width: 1024px){
					content:'';
					font-weight: 400;
					color: #666666;
					padding-right:15px;
					font-size: 0.7rem;
					padding-left: 0px !important;
				}
				@media(min-width: 1024px){
					font-size:1rem;
				}
  }
}

.kala-lowerMenu-container {
  background: #333333;
  .kala-lowerMenu{
    padding-top: 15px;
    background:#333333;
    margin-top: -4px;
    .kala-lower-menu-option {
      color:white;
    }
    li a {
      color: white;
    }
  }
}

.kala-connect-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color:white;
  padding: 31px 0 28px 0;
  font-family: $montFont;
  h1 {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.07em;
    margin-bottom: 10px;
  }

  .kala-icon {
    background-repeat: url('https://www.discoverkalamazoo.com/assets/social-icons.png') no-repeat;
    height: 24px;
    width: 24px;
  }

  .kala-icon-container {
    display: flex;
    justify-content:center;
  }
  i {
    margin: 0 5px;
  }
}

.kala-e-news {
  max-width: 147px;
  background-color: orange;
  margin: 15px auto 0 auto;
  text-align: center;
  padding: 10px 5px;
  color: #008CBA;
  width: 157px;
  font-size: 17px;
  border:none;
}

.kala-contact-container {
  color: #333333;
  padding: 25px 0 15px 15px;
  max-width: 300px;
  margin: 10px auto 0 auto;
  font-family: $montFont;
  h2 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin-bottom: 15px;
  } li {
    margin: 10px 0;
  }
}

.kala-desktop-upperMenu {
  flex-direction: row;
  .kala-menu-option:before {
    content: '';
  }
}

.top-nav {
  display: none;
  justify-content:space-between;
  align-items: center;
  @media(min-width: 1024px) {
		display: flex;
		padding:5px 0;

  }
}

.weather-container {
	width: 250px;
	display: flex;
	font-size: 29px;
	align-items: center;
	justify-content: center;
	font-family: $montFont;
	.weather-temp-container {
		display: flex;
		flex-direction: row;
	}
}

.right-nav-desktop{
	display: none;
	@media(min-width: 1024px) {
		position: relative;
		display: flex;
    width: 59%;
    justify-content: space-around;
    padding-right: 50px;
		font-family: $montFont;
		font-weight: 700;
		font-size: 17px;
		text-transform: uppercase;
	}
	@media(min-width: 1300px) {
		width: 53%;
		padding-right: 99px;
		font-size:1.5rem;
	}
	@media(min-width: 1600px) {
		width: 53%;
		padding-right: 35px;
		font-size:2rem;
	}

	.kala-menu-option {
		:hover{
			transform: scaleX(1);
			top: 6px;
			height: 8px;
			content: '';
			width: 100%;
			border-bottom: solid 5px #57b649;
			transition: transform 300ms ease-in-out;
		}
	}
}

.search-desktop {
	display:flex;
}

.search-input-desktop {
	transition: border-color 0.15s linear, background 0.15s linear;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: 0.875rem;
	width: 95px;
	border-right:none;
}

#search-icon {
	visibility: visible;
	height: 20px;
	width: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: border-color 0.15s linear, background 0.15s linear;
	@media(min-width: 1300px) {
		height:19px;
	}
}



.toggle-search-icon {
	border: 1px solid lightgray;
	border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  border-left: none;
}