@import "utils/reusableCss";
@import 'utils/screenSizesMqMixin';
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

.main-wrapper-longmont {
	background-size: cover;
	background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
	display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 15px;
}

.main-wrapper-img-longmont {
	background: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,g_xy_center,h_765,q_50,w_1665,x_2540,y_2020/v1/clients/longmontco/Visitors_Guide_Header_Gerardo_Brucker_2019_Cover_5e3e19ca-d58e-46e1-98d4-6c97db90e1c8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.Search {
	    margin: 0 10px;
	@include preDesktop {
		padding-top: 5px;
		margin-left: 10px;
	}
}

.logo-img {
	max-height: 50px;
	@include preDesktop {
		max-height: 75px;
	}
}

.header-menu-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide {
	display: none;
}

.nav-icons * {
	margin: 0 5px;
	@include preDesktop {
		display: none
	}
}

//mobile menu

.submit-form {
	height: 40px;
    width: 75px;
    transition: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 15px;
	border: 0;
	color: white;
    background-color: #008CBA;
}

.mobile-menu {
	background-color: #0c224c;
	padding: 30px 10px;
}

.mobile-dd .dd-top {
    padding: 15px 15px 25px;
    border-bottom: 1px solid #121720;
}

.shared-form {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: 'Helvetica Neue LT W05_65 Medium';
}

.shared-form .input-label {
    width: calc(100% - 78px);
    font-family: inherit;
    color: white;
    font-size: 15px;
}

.shared-form input {
    height: 40px;
    width: 93%;
    padding-left: 15px;
    line-height: 40px;
    margin: 5px 0 0;
    box-shadow: 0px 0px;
    border: 0;
    transition: none;
}

.shared-form .submit-form {
    height: 40px;
    width: 75px;
    transition: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 15px;
    border: 0;
}

.item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
	background-color: #0c224c;
	border-bottom: 1px solid #121720;
	transition: all .5s ease-in-out;
	&:hover {
		background-color: #192f59;
	}
	a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Rockwell W01 Bold';
		font-size: 20px;
		line-height: 20px;
		color: white;
		text-transform: uppercase;
	}
	@include preDesktop {
		background: transparent;
		border: none;
	}
}

.desktop-lower-nav {
	padding: 0;
	list-style-type: none;
}

.fa-angle-right{
    color: crimson;
	font-size: 20px;
	@include ipadPro {
		display: none !important;
	}
}

#Weather2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.secondary-mobile-nav {
	margin: 0;
	margin-top:10px;
	padding: 0;
	list-style-type: none;
	.item-inner a {
			font-size: 20px;
			color: #78acb3;
			text-transform: uppercase;
	}
}

.desktop-upper-nav {
	display: flex;
	align-items: center;
	margin-right: 145px;
	justify-content: flex-end;
	padding-top: 12px;
	button {
		position: fixed;
		top: 25px;
		right: 15px;
		color: white;
		padding: 12px 16px;
		transition: background 0.5s;
		background-color: crimson;
		text-transform: uppercase;
		border: 1px solid gainsboro;
		font-size: 12px;
		cursor: pointer;
		z-index: 1;
		&:hover{
			background: #182e58;
		}
	}
}

.social-container {
	i {
		color: white;
		font-size: 24px;
		margin: 0 2px;
	}
}

.desktop {
	display: none;
	@media(min-width: 1025px) {
		display: flex;
	}
}