.new-features-section--container {
	font-family: "Montserrat";
	color: #3f3f3f !important;
	line-height: 2;
	padding: 50px 20px;
	@media(min-width: 768px){
		display: flex;
	}
}

.newFeatures--title {
	font-size: 20px;
	font-weight:400;
	margin-bottom: 0.75em;
	transform: translateY(0) scale(1);
	transition: transform 0.3s ease-in 0.3s, opacity 0.3s ease-in 0.3s;
	@media(min-width: 768px){
		font-size: 40px !important;
	}
}

.content-container--lists {
	margin: 0 auto 25px;
}

.list-container--options {
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.image-container--newFeatures {
	background-color: #e9cf76;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 10px;
}

.newFeatures--img {
	width: auto;
    max-width: 100%;
}

.passport--faq-link {
	text-decoration: underline;
	font-weight: bold;
	font-family: "Open Sans" !important;	
}

.new-distilleries--container {
	background-color: #e9e6b9;
	background-image: none;    
	color: rgb(63, 63, 63);
	font-family: "Open Sans";
	margin: 0 auto 25px;
}

.freeland-spirits--text {
	font-family: "Poppins", sans-serif;
	color: #717170;
	text-align: center;
	font-weight: normal;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.section--container {
	margin: 0 auto 25px;
	@media(min-width: 768px){
		width: 51.466666666667%;
		padding: 0 15px;
	}
}