@import "utils/reusableCss";
@import "utils/screenSizesMqMixin";

.v2-main-wrapper {
	background: #ffa124;
	justify-content: space-between;
	padding: 0 15px;
	font-family: titling-gothic-fb, sans-serif;
	font-weight: 700;
	font-style: normal;
	@include preDesktop {
		background-color: #182338;
		padding: 0 25px;
	}
}

.logo--header {
	fill: white;
	svg {
		max-width: 120px;
		height: 3.75rem;
		@include preDesktop {
			max-width: 257px;
		height: 6.5rem;
		}
	}
}

.search__cta {
	transition: all .3s ease;
	background: transparent;
	border: none;
	outline: none;
	svg {
		margin: 0 auto;
		height: 2rem;
		width: 2rem;
		fill: white;
		@include preDesktop {
			height: 3rem;
			width: 3rem;
		}
	}
	&:hover {
		transform: rotate(30deg);
	}
}

.burger {
	@include preDesktop {
		background: #ffa124;
		border: 3px solid white;
		width: 60px;
		height: 60px;
		transition: background-color .3s ease;
		&:hover {
			background-color: #3e60a3;
			border-color: #3e60a3;
			color: #fff;
		}
	}
	.line{
		width: 23px;
		height: 3px;
		background: white;
	}
}

.v2-search-container {
	position: absolute;
    z-index: 10;
    right: 0;
	top: 63px;
    background-color: #182338;
    color: #fff;
    width: 100%;
	max-width: 18.75rem;
	min-width: 300px;
	padding: 1rem 1rem 0;
	font-family: titling-gothic-fb, sans-serif;

font-weight: 400;

font-style: normal;
	div input {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 2.4375rem;
		margin: 0 0 1rem;
		padding: .5rem;
		border: 1px solid #959595;
		border-radius: 0;
		background-color: #fff;
		box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
		font-family: inherit;
		font-size: 1rem;
		font-weight: 400;
		color: #0a0a0a;
		transition: box-shadow .5s,border-color .25s ease-in-out;
		-webkit-appearance: none;
		text-align: left;
		padding: 22px .9375rem 23px;
	}
	div button {
		-webkit-appearance: none;
		border-radius: 0;
		transition: background-color .5s ease,color .5s ease;
		font-size: .75rem;
		letter-spacing: .075rem;
		font-family: titling-gothic-fb-condensed,sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 2;
		text-align: center;
		cursor: pointer;
		background-color: #304a7e;
		color: #fff;
		display: -webkit-inline-flex;
		display: inline-flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		position: absolute;
		border: none;
		top: 35px;
		right: 19px;
		margin: 0;
		padding: 9px;
		font-size: 12px;
	}
	.close-search-menu {
		width: 25px;
		height: 25px;
		position: absolute;
		right: 0;
		top: 0px;
		padding: 6px;
		background: #3e60a3;
		fill: white;
		&:hover {
			border: 2px solid white;
		}
	}
	@include preDesktop {
		left: 0;
    	top: 84px;
	}
	@include desktop{
		left: 5%;
	}
	@include largeDesktop{
		left: 17%;
	}
}

.rotate-search {
	transform: rotate(30deg);
}

.open-menu-container {
	position: fixed;
	right:0;
	bottom:0;
	top: 0;
	left:0;
    width: 100vw;
    min-width: 0;
    height: 100vh;
    max-width: none;
    border: none;
    z-index: 1000;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    color: #fff;
    padding: 0 1.875rem;
    background: radial-gradient(circle,rgba(24,35,56,.9) 0,#182338 100%);
    transition: background .3s ease;
	.upper-menu-section {
		width: 100%;
		.logo--header-menu {
			fill: white;
			svg {
				max-width: 10rem;
				height: 3.75rem;
				@include preDesktop {
					max-width: 43rem;
					height: 11.75rem;
					margin-bottom: 35px;
				}
			}
		}
		.close-v2-menu {
			font-size: 35px;
			cursor: pointer;
			@include preDesktop {
				position: absolute;
				top: 36px;
				left: 50px;
			}
		}
		@include preDesktop    {
			justify-content: center;
		}
	}

	.nav-section {
		list-style-type: none;
		position: relative;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column;
		flex-flow: column;
		margin: 0 auto;
    	max-width: 912px;
		width: 100%;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		padding: .9375rem; 
		ul {
			width: 100%;
			list-style-type: none;
			padding: 0;
			margin: 0;
			@include preDesktop {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
			a {
				display: flex;
				align-items: center;
				color: white;
				text-decoration: none;
				margin: .46875rem 0;
				text-decoration: none;
				color: #fff;
				text-align: left;
				font-family: titling-gothic-fb-condensed,sans-serif;
				letter-spacing: .05rem;
				outline: none;
				text-transform: uppercase;
				line-height: 1.4;
				font-size: 16px;
				.menu-icons-v2 {
					margin-right: 10px;
					@include preDesktop {
						font-size: 35px;
						margin-right: 0;
					}
				}
				.fa-dollar-sign {
					margin-right: 15px;
				}
				@include preDesktop {
					display: flex;
					align-items: center;
					flex-direction: column !important;
				}
				section {
					@include preDesktop {
						display: flex;
						align-items: center;
						flex-direction: column !important;
					}
				}
				li {
					@include preDesktop {
						margin-top: 13px;
					}
				}
				&:hover {
					color: #ffa124;
				}
			}
			.fa-chevron-right {
				@include preDesktop {
					transform: rotate(90deg);
					margin-top: 13px;
				}
			}
		}
	}

	.yellow-section {
		background: rgba(255,161,36,.9);
		@include preDesktop {
			background: transparent;
		}
	}
	@include preDesktop {
		position: absolute;
		justify-content: center;
	}
}

.blue-section {
	background: rgba(62,96,163,.9);
	ul {
		@include preDesktop {
			padding: 0 120px !important;
		}
		a {
			font-size: 11px !important;
			.menu-icons-v2 {
				font-size: 18px !important;
			}
		}
	}
	@include preDesktop {
		border-top: 5px solid #ffa124;
		background: transparent;
		padding: 0 120px;
	}
}

.social-icons-container {
	width: 100%;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	i {
		color: #bed1f2;
		margin: 0 9px;
		font-size: 23px;
	}
	@include preDesktop {
		padding: 25px 0;
	}
}

.menu-svg {
	width: 30px;
    fill: white;
}

.desktop {
	display: none;
	@include preDesktop {
		display: flex;
	}
}

.mobile {
	display: flex;
	@include preDesktop {
		display: none;
	}
}

.plan-your-trip-button {
	position: absolute;
	font-family: titling-gothic-fb, sans-serif;
	font-weight: 700;
	font-style: normal;
	left: -220px;
	display: flex;
	justify-content: center;
    cursor: pointer;
    background-color: #ffa124;
    color: #fff;
	border: 2px solid #e6e6e6;
	padding: 7px;
	font-weight: bold;
	transition: background-color .3s ease;
	font-size: 12px;
	&:hover {
		background-color: #ffb757;
		color: #fff;
	}
	a {
		text-decoration: none;
		color: white;
	}
}

.desktop-header {
	width: 100%;
	max-width: 1450px;
		margin: 0 auto;
		padding: 20px 25px;
}

.desktop-header-background {
	background-color: #182338;
}

.desktop-left-section {
	button {
		background: transparent;
		border: none;
		outline: none;
	}
	div, button {
		margin: 0 20px;
	}
	#Weather * {
		margin: 0
	}
}


.search-input-v2 {
	display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 1px solid #959595;
    border-radius: 0;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #0a0a0a;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    text-align: left;
    padding: 22px .9375rem 23px;
}

.search-button-v2 {
	-webkit-appearance: none;
    border-radius: 0;
    transition: background-color .5s ease,color .5s ease;
    font-size: .75rem;
    letter-spacing: .075rem;
    font-family: titling-gothic-fb-condensed,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    cursor: pointer;
    background-color: #304a7e;
    color: #fff;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    border: none;
    top: 40px;
    right: 13px;
    margin: 0;
    padding: 9px;
    font-size: 12px;
}