@import "utils/reusableCss";
@import "utils/screenSizesMqMixin";

#logo {
	width: 150px;
}

.search-container {
	position: absolute;
    top: 0;
    right: 0;
    background: white;
    width: 50%;
    height: 81px;
    display: flex;
    align-items: center;
	justify-content: center;
	z-index: 20;
}

.et-search-field {
	height: 60px;
    width: 157px;
	outline: none;
	font-size: 12px;
	position: relative;
}

.main-header-section {
	justify-content: space-around;
}

.fa-bars {
	color: #2EA3F2;
}

.fa-times {
	position: absolute;
    right: 0;
	top: 25%;
	cursor: pointer;
}

.search-container--ale {
	i {
		margin: 0 20px;
		font-size: 25px;
	}
}

.mobile-menu-dropdown {
	position: absolute;
    z-index: 9999;
    left: 0;
    width: 100%;
    padding: 5%;
    border-top: 3px solid #2ea3f2;
    opacity: 1;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	left: 12%;
	width: 80%;
}

.mobile-menu-link-container {
	a {
		text-decoration: none;
		display: block;
		padding: 10px 5%;
		border-bottom: 1px solid rgba(0,0,0,.03);
		color: #666;
		background-color: rgba(0,0,0,.03);
		font-weight: 700;
	}
}



//misc stuff
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
