.flex {
  display: flex; }

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-ai {
  display: flex;
  align-items: center; }

.flex-jc {
  display: flex;
  justify-content: center; }

.td-none {
  text-decoration: none; }

.burger {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: black;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  position: relative; }
  .burger .line {
    background: black;
    content: "";
    cursor: pointer;
    display: block;
    height: 2px;
    margin: 2.5px 0;
    transition: all 0.5s ease-in-out;
    width: 22px;
    -webkit-transition: all 0.5s ease-in-out; }

.main-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 7px solid #F3575D; }

.hh-button {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.hh-menu-button {
  background: #F3575D; }

.hh-search-button {
  background: #3C7D93;
  display: flex;
  align-items: center;
  justify-content: center; }

.hh-header-logo img {
  max-height: 70px; }

.burger .line {
  color: white;
  background: white;
  height: 3px; }

.txt-red {
  color: #F3575D; }

.txt-blue {
  color: #3C7D93; }

.txt-purple {
  color: #BA4896; }

.txt-white {
  color: white; }

.hh-menu-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #F3575D;
  padding: 10px; }

.upper-menu-header {
  align-items: center;
  display: flex;
  justify-content: space-between; }

.close-hh-menu {
  background: #F3575D;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.show-flex {
  display: flex !important; }
