.flex {
  display: flex; }

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-ai {
  display: flex;
  align-items: center; }

.flex-jc {
  display: flex;
  justify-content: center; }

.td-none {
  text-decoration: none; }

.burger {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: black;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  position: relative; }
  .burger .line {
    background: black;
    content: "";
    cursor: pointer;
    display: block;
    height: 2px;
    margin: 2.5px 0;
    transition: all 0.5s ease-in-out;
    width: 22px;
    -webkit-transition: all 0.5s ease-in-out; }

.main-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; }
  .main-header-wrapper:before {
    content: '';
    position: absolute;
    top: 88px;
    left: 0px;
    right: 0px;
    height: 9px;
    background-image: url("https://spanish19-houston.simpleviewcms.com/includes/public/assets/charcoal-border.svg");
    background-repeat: repeat-x;
    z-index: 5; }
    @media only screen and (min-width: 1024px) {
      .main-header-wrapper:before {
        top: 125px; } }
  @media only screen and (min-width: 1024px) {
    .main-header-wrapper {
      height: 120px; } }

@media only screen and (min-width: 1024px) {
  .hh-menu-button-wrapper {
    display: none; } }

.hh-button {
  border-radius: 50%;
  width: 60px;
  height: 60px; }

.hh-menu-button {
  background: #f3575d; }

@media only screen and (min-width: 1024px) {
  .hh-search-button-wrapper {
    position: absolute;
    right: 10px;
    top: 35px; } }

.hh-search-button {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  background: #3c7d93;
  border: 2px solid #d2c7c7; }

@media only screen and (min-width: 1024px) {
  .hh-header-logo {
    position: absolute;
    left: 10px;
    top: 10px; } }

.hh-header-logo img {
  max-height: 70px; }
  @media only screen and (min-width: 1025px) {
    .hh-header-logo img {
      max-height: 90px; } }

.burger .line {
  color: white;
  background: white;
  height: 3px; }

.txt-red {
  color: #f3575d; }

.txt-blue {
  color: #3c7d93; }

.txt-purple {
  color: #BA4896 !important; }

.txt-white {
  color: white; }

.hh-menu-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column; }

.upper-menu-header {
  background: #f3575d;
  padding: 20px 10px;
  align-items: center;
  display: flex;
  justify-content: space-between; }
  .upper-menu-header:before {
    content: '';
    position: absolute;
    top: 88px;
    left: 0px;
    right: 0px;
    height: 9px;
    background-image: url("https://spanish19-houston.simpleviewcms.com/includes/public/assets/charcoal-border.svg");
    background-repeat: repeat-x;
    z-index: 5; }

.close-hh-menu {
  background: #f3575d;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.sub-reserv {
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  margin: 8px;
  font-family: Roboto; }

.menu-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: roboto; }
  .menu-ul a {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px;
    margin: 5px 15px;
    margin-right: 0;
    border-bottom: 1px solid lightgray;
    font-size: 18px; }
    .menu-ul a:last-child {
      border-bottom: none; }
    .menu-ul a .menu-li {
      padding: 0;
      margin: 0; }
    .menu-ul a i {
      color: #3c7d93;
      padding-right: 10px; }

.menu-section-upper {
  background: white;
  border-bottom: 5px solid lightgray; }

.menu-section-mid {
  background: white;
  padding: 10px 0; }
  .menu-section-mid ul a {
    border-bottom: none !important; }
  .menu-section-mid .mid-txt {
    font-size: 15px !important; }

.menu-section-bot {
  background: #f3575d;
  padding: 10px 0; }
  .menu-section-bot ul a {
    text-transform: capitalize !important;
    font-size: 14px;
    border-bottom: none; }
    .menu-section-bot ul a li {
      color: white !important;
      padding-bottom: 3px;
      border-bottom: 1px solid white; }

.show-flex {
  display: flex !important; }

.site-search-wrapper {
  display: block;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  top: 8px;
  left: -10px;
  width: 100%;
  right: -10px;
  padding-bottom: 5px;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .site-search-wrapper {
      display: none; } }

.site-search-dd form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  max-width: 1230px;
  height: 100%;
  margin: 3px 15px;
  padding: 3px;
  border: 2px solid #d2c7c7;
  border-radius: 17px;
  background-color: #f9f9f9; }

.site-search-dd form button.search-button {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  background: #3c7d93;
  border: 2px solid #d2c7c7; }

.buscar-input {
  color: #BA4896 !important; }

.site-search-dd form input, header .site-search-dd form input:focus {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 0px 0px 0px 20px;
  margin: 0px;
  font: 800 24px/1 "Avenir Next LT W01 Bold", sans-serif;
  height: auto;
  color: #ba4896;
  flex: 1 1 1%;
  max-width: 71%; }

.fa-close {
  color: #ba4896;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-bottom: 0px;
  padding: 13px;
  font-size: 25px; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

@media only screen and (min-width: 1024px) {
  .desktop-search-btn-wrapper {
    margin-right: 70px; } }

.desktop-right-image {
  position: absolute;
  right: -16px;
  top: 33px;
  transform: translateY(-50%);
  width: 60px; }

.desktop {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .desktop {
      display: block; } }
