.main-header {
  display: flex;
  flex-direction: row-reverse;
  height: 5.9375rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-family: roboto;
  background: #fcb133; }

.burger-container {
  width: 31px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 4px solid transparent; }
  .burger-container .line {
    content: '';
    margin: 2px 0;
    cursor: pointer;
    height: 3px;
    width: 28px;
    background: #fff;
    transition: all 0.5s ease-in-out; }
