.main-header {
  display: flex;
  flex-direction: row-reverse;
  height: 5.9375rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-family: roboto;
  background: #fcb133; }
  .main-header .menu-text {
    color: #fefefe;
    font-family: Berthhold Condensed,Arial,Segoe,sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-top: .25rem;
    text-transform: uppercase; }

.burger-container {
  width: 31px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .burger-container .line {
    content: '';
    margin: 3px 0;
    cursor: pointer;
    height: 3px;
    width: 23px;
    background: #fff;
    transition: all 0.5s ease-in-out; }

.main-menu-section {
  top: 0;
  position: absolute;
  background: white;
  height: 100vh;
  width: 100%;
  padding: 5px; }
