.flex {
  display: flex; }

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-ai {
  display: flex;
  align-items: center; }

.flex-jc {
  display: flex;
  justify-content: center; }

.td-none {
  text-decoration: none; }

.burger {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: black;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  position: relative; }
  .burger .line {
    background: black;
    content: "";
    cursor: pointer;
    display: block;
    height: 2px;
    margin: 2.5px 0;
    transition: all 0.5s ease-in-out;
    width: 22px;
    -webkit-transition: all 0.5s ease-in-out; }

body {
  font-family: "Open Sans", Arial, sans-serif; }

.desktop {
  display: none; }
  @media (min-width: 981px) {
    .desktop {
      display: flex; } }

@media (min-width: 981px) {
  .mobile {
    display: none !important; } }

@media only screen and (min-width: 1350px) {
  #logo-a {
    margin-right: 21%; } }

#logo {
  width: 130px; }
  @media (min-width: 981px) {
    #logo {
      width: 121px; } }

.search-container {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 50%;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  padding: 0 10px; }
  @media (min-width: 981px) {
    .search-container {
      max-width: 688px;
      top: 0;
      right: 73px;
      width: 100%;
      justify-content: flex-start; } }
  @media (min-width: 981px) {
    .search-container {
      max-width: 888px; } }

.et-search-field {
  height: 60px;
  width: 157px;
  outline: none;
  font-size: 12px;
  position: relative;
  border: none; }
  @media (min-width: 981px) {
    .et-search-field {
      border: none;
      outline: none;
      width: 501px; } }

.main-header-section {
  justify-content: space-around;
  border-bottom: 1px solid lightgray; }
  @media (min-width: 981px) {
    .main-header-section {
      justify-content: center; } }

.fa-bars {
  color: #2EA3F2; }

.fa-times {
  position: absolute;
  right: 10px;
  top: 22px;
  padding: 10px;
  cursor: pointer; }

.search-container--ale i {
  margin: 0 20px;
  font-size: 25px; }
  @media (min-width: 981px) {
    .search-container--ale i {
      font-size: 11px;
      margin: 0 9px;
      color: rgba(0, 0, 0, 0.6); } }

@media (min-width: 981px) {
  .search-container--ale .fa-search {
    font-size: 16px; } }

.mobile-menu-dropdown {
  position: absolute;
  display: none;
  z-index: 9999;
  left: 0;
  width: 100%;
  padding: 5%;
  border-top: 3px solid #2ea3f2;
  opacity: 1;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  left: 12%;
  width: 80%; }

.mobile-menu-link-container {
  list-style-type: none;
  padding: 0; }
  .mobile-menu-link-container a {
    text-decoration: none;
    display: block;
    padding: 10px 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    color: #666;
    background-color: rgba(0, 0, 0, 0.03);
    font-weight: 700; }

.desktop-menu-container {
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 600; }
  .desktop-menu-container a {
    display: flex;
    align-items: center;
    margin: 0 11.75px;
    text-decoration: none;
    color: #666;
    transition: all 1s ease-in-out; }
    .desktop-menu-container a:hover {
      color: #2ea3f2; }
  .desktop-menu-container:hover {
    color: #2ea3f2; }

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }
