/* GLOBAL CSS  */
.tac-flex {
	display: flex;
	align-items: center;
}

ul {
	list-style: none;
}

.tac-layer1-menu-item a {
	text-decoration: none;
	color: #333;
}

.tac-menu-text {
	color: white;
	font-weight: 600;
	font-size: 20px;
}

/* MOBILE */
.taco-main-container {
	display: flex;
	justify-content: space-between;
	background-color: #0b9fc4;
	align-items: center;
	font-family: calluna-sans, sans-serif;
	text-decoration: none;
}

.tac-home-icon {
	cursor: pointer;
}

.tac-glass {
	color: black;
	font-size: 24px;
}

.tac-burger {
	width: 25px;
	height: 25px;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-right: 10px;
}

.tac-line {
	margin: 2px 0;
	cursor: pointer;
	height: 2px;
	width: 16px;
	background: #fff;
	display: block;
	content: "";
	box-shadow: none;
	right: 4px;
	top: 10px;
	transition: all 0.5s ease-in-out;
}

.tac-top-line {
	transform: rotate(45deg);
	transform-origin: 13% 197%;
	width: 18px;
}

.tac-mid-line {
	opacity: 0;
}

.tac-bot-line {
	transform: rotate(-45deg);
	transform-origin: 10% -122%;
	width: 18px;
}

.border-slant {
	position: relative;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border: none;
	outline: none;
}

.border-slant:before {
	content: "";
	position: absolute;
	left: -16px;
	top: 0;
	width: 0;
	border-left: 16px solid transparent;
	border-top: 45px solid #fff;
}

.border-slant:after {
	content: "";
	position: absolute;
	right: -16px;
	top: 0;
	width: 0;
	border-left: 16px solid #fff;
	border-top: 45px solid transparent;
}

/* FIRST MENU CSS */

.tac-first-layer-menu {
	font-family: calluna-sans, sans-serif;
	position: absolute;
	right: 0;
	width: 100%;
	opacity: 1;
}

.tac-search-container {
	background-color: #b95915;
	width: 100%;
	height: 42px;
	background: #b95915;
	display: flex;
	align-items: center;
	color: #ffffff;
	font-family: calluna-sans, sans-serif;
}

.tac-search-input {
	border: none;
	box-shadow: none;
	width: 263px;
	height: 26px;
	/* font-family: "AvenirNextLTW01-Condens_721299"; */
	font-size: 14px;
	line-height: 16px;
	color: #333;
	margin-left: 15px;
	outline: none;
	position: relative;
}

.tac-search-button {
	content: "";
	width: 22px;
	height: 22px;
	position: absolute;
	right: 0;
	top: 2px;
	background: url("http://www.traveltacoma.com/includes/public/assets/search/arrow.png")
		no-repeat center;
}

.tac-layer1-menu-item {
	position: relative;
	padding: 7px 30px 7px 16px;
	font-size: 22px;
	line-height: 22px;
	color: #333;
	text-transform: uppercase;
}

.layer1-mid-menu {
	font-size: 18px;
}

.tac-layer1-menu-item:after {
	content: "";
	width: 22px;
	height: 22px;
	position: absolute;
	right: 16px;
	top: 7px;
	background: url("http://www.traveltacoma.com//includes/public/assets/icon-menu-arrow.png")
		no-repeat center;
}

.tac-border {
	width: 100%;
	height: 1px;
	margin: 7px 0;
	background: #d8d2c9;
}

/* MY ITIN && WEATHER */

.tac-my-itinerary {
	padding: 5px;
	text-decoration: none;
	color: white;
}
.tac-my-itin-txt {
	font-size: 18px;
  padding-left: 5px;
  align-items: center;
  display: flex;
}

#tac-mobile-weather {
  padding: 20px 30px 7px 16px;
}

/*WEATHER */

.tac-weather {
	color: #009fc3;
	font-size: 22px;
	line-height: 22px;
}

.tac-mobile-weather {
  display: block;
}

#testWeather {
	padding: 20px 30px 7px 16px;
}

.tac-weather-text {
	color: #b95915;
	font-family: calluna-sans, sans-serif;
	font-size: 18px;
}

.tac-basic-menu-item {
	position: relative;
	padding: 7px 30px 7px 16px;
	font-size: 22px;
	line-height: 22px;
	color: #333;
	text-transform: uppercase;
	cursor: pointer;
}

.desktop {
	display: none;
}

.desktop2 {
	display: none;
}

/* MEDIA QUERIES */
@media (min-width: 375px) and (min-height: 812px) {
	.tac-first-layer-menu {
		height: 80vh;
		box-shadow: 0px 3px 36px -9px rgba(0, 0, 0, 0.29);
	}
}
@media (min-width: 414px) {
	.tac-menu-container {
		width: 45%;
	}
}

@media (min-width: 768px) {
	.desktop {
		display: flex;
	}
	.mobile {
		display: none !important;
	}
	.tac-first-layer-menu {
		height: 54.5vh;
	}
	#tac-menu-container {
		justify-content: space-between !important;
		width: 39% !important;
	}
	.tac-weather-desktop {
		width: 45px;
		background: white;
	}
	.taco-main-container {
		background-color: transparent;
		/* background-color: lightgray; */
	}
	.tac-my-itinerary {
		padding: 0 5px;
	}
	.border-slant:last-of-type {
		background: #009fc3;
	}
	.border-slant:nth-of-type(4):before {
		border-top: 45px solid #009fc3;
	}
	.border-slant:nth-of-type(4):after {
		border-left: none;
	}
	.border-slant:nth-of-type(2) {
		background: white;
	}
	.border-slant {
		background: none;
		padding: 0 5px;
	}
	.border-slant:nth-of-type(3) {
		background: white;
	}
	.border-slant:nth-of-type(1) {
		background: white;
		color: #009fc3;
	}
	.tac-weather {
		display: flex;
	}
	#testWeather {
		padding: 0;
	}
	.tac-weather-text {
		display: none;
	}
	.border-slant:first-of-type {
		background: #b95915;
	}
	.border-slant:first-of-type:after {
		border-left: 16px solid #b95915;
	}
	.border-slant:first-of-type:before {
		border-top: 45px solid #b95915;
	}
	.border-slant-logo {
		position: relative;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #009fc3;
		border: none;
		outline: none;
	}
	.border-slant-logo:after {
		content: "";
		position: absolute;
		right: -16px;
		top: 0;
		width: 0;
		border-left: 16px solid #009fc3;
		border-top: 45px solid transparent;
	}
}

@media (min-width: 1024px) {
	#tac-menu-container {
		width: 250px !important;
	}
	.tac-menu-text {
		display: none;
	}
}

@media (min-width: 1111px) {
	.desktop2 {
		display: flex;
	}
	.border-slant-logo {
		display: none;
	}
	#tac-menu-container {
    width: 539px!important;
    padding-right: 85px;
	}
	.tac-menu-option {
		margin: 0 10px;
	}
	.tac-mobile-burger {
		display: none;
	}
	.border-slant-white {
		position: relative;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		border: none;
		outline: none;
	}
	.border-slant-white:after {
		content: "";
		position: absolute;
		right: -16px;
		top: 0;
		width: 0;
		border-left: 16px solid #fff;
		border-top: 45px solid transparent;
	}
	.border-slant-white:before {
		content: "";
		position: absolute;
		left: -16px;
		top: 0;
		width: 0;
		border-left: 16px solid transparent;
		border-top: 45px solid #fff;
	}
	.tac-burger {
		display: none;
	}
	.tac-desktop-sub-menu {
		display: flex;
		text-decoration: none;
		color: white;
		align-items: center;
		position: relative;
		height: 49px;
		padding-right: 57px;
		padding-left: 10px;
		background: #009fc3;
		min-width: 665px;
		right: 20%;
	}
	.tac-desktop-sub-menu a {
		text-decoration: none;
		color: white;
	}
	.tac-desktop-sub-menu:before {
		content: "";
		position: absolute;
		left: -16px;
		top: 0;
		width: 0;
		border-left: 16px solid transparent;
		border-top: 49px solid #009fc3;
	}
	.border-slant:nth-of-type(4):before {
		border-top: none;
	}
	.border-slant:last-of-type {
		background: none;
	}

	.tac-menu-option {
    font-size: 14px;
    cursor:pointer;
	}
	.tac-menu-option:hover {
    text-decoration: underline;
	}

	.tac-big-logo {
		position: relative;
		top: 23px;
		left: 66px;
  }
  #tac-regions-option {
    padding: 0 25px;
  }
  .border-slant-sub-menu:before {
		content: "";
		position: absolute;
		left: -16px;
		top: 0;
		width: 0;
		border-left: 16px solid transparent;
		border-top: 49px solid #009fc3;;
	}
}

/* WEATHER CLIMACONS */

@font-face {
	font-family: sv-Climacons;
	src: url(/fonts/climacons/sv_climacons_webfont.eot);
	src: url(/fonts/climacons/sv_climacons_webfont.eot?#iefix)
			format("embedded-opentype"),
		url(/fonts/climacons/sv_climacons_webfont.svg#Climacons-Font) format("svg"),
		url(/fonts/climacons/sv_climacons_webfont.woff) format("woff"),
		url(/fonts/climacons/sv_climacons_webfont.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
.climacon:before {
	font-family: sv-climacons !important;
	font-size: inherit;
	font-style: normal;
	font-weight: 400;
}
.climacon.i26:before {
	content: "\E000";
}
.climacon.i28:before,
.climacon.i30:before,
.climacon.i44:before {
	content: "\E001";
}
.climacon.i27:before,
.climacon.i29:before {
	content: "\E002";
}
.climacon.i11:before,
.climacon.i12:before,
.climacon.i40:before,
.climacon.i9:before {
	content: "\E003";
}
.climacon.i32:before,
.climacon.i34:before {
	content: "\E028";
}
.climacon.i3200:before {
	content: "\D8";
	font-weight: 700;
}
.climacon.i10:before,
.climacon.i8:before {
	content: "\E00C";
}
.climacon.i18:before,
.climacon.i6:before,
.climacon.i7:before {
	content: "\E010";
}
.climacon.i17:before,
.climacon.i35:before {
	content: "\E013";
}
.climacon.i5:before {
	content: "\E004";
}
.climacon.i13:before,
.climacon.i14:before,
.climacon.i15:before,
.climacon.i16:before,
.climacon.i41:before,
.climacon.i42:before,
.climacon.i43:before,
.climacon.i46:before {
	content: "\E018";
}
.climacon.i20:before {
	content: "\E01B";
}
.climacon.i21:before,
.climacon.i22:before,
.climacon.i23:before {
	content: "\E01F";
}
.climacon.i24:before {
	content: "\E021";
}
.climacon.i2:before {
	content: "\E022";
}
.climacon.i19:before {
	content: "\E023";
}
.climacon.i37:before,
.climacon.i38:before,
.climacon.i39:before,
.climacon.i3:before,
.climacon.i45:before,
.climacon.i47:before,
.climacon.i4:before {
	content: "\E025";
}
.climacon.i31:before,
.climacon.i33:before {
	content: "\E02D";
}
.climacon.i0:before {
	content: "\E037";
}
.climacon.i25:before {
	content: "\E03A";
}
.climacon.i36:before {
	content: "\E03D";
}
.climacon.i1:before {
	content: "\E00A";
}
@font-face {
	font-family: streamline-30px;
	src: url(/fonts/streamline/streamline-30px.eot);
	src: url(/fonts/streamline/streamline-30px.eot?#iefix)
			format("embedded-opentype"),
		url(/fonts/streamline/streamline-30px.woff2) format("woff2"),
		url(/fonts/streamline/streamline-30px.woff) format("woff"),
		url(/fonts/streamline/streamline-30px.ttf) format("truetype"),
		url(/fonts/streamline/streamline-30px.svg#streamline-30px) format("svg");
	font-weight: 400;
	font-style: normal;
} 
