.taco-main-container {
	display: flex;
	justify-content: space-between;
	background-color: #0b9fc4;
	align-items: center;
	font-family: calluna-sans, sans-serif;
}

.tac-home-icon {
	cursor: pointer;
}

.tac-glass {
	color: black;
	font-size: 24px;
}

.tac-burger {
	width: 25px;
	height: 25px;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-right: 10px;
}

.tac-line {
	margin: 2px 0;
	cursor: pointer;
	height: 2px;
	width: 16px;
	background: #fff;
	display: block;
	content: "";
	box-shadow: none;
	right: 4px;
	top: 10px;
	transition: all 0.5s ease-in-out;
}

.tac-top-line {
	transform: rotate(45deg);
	transform-origin: 13% 197%;
	width: 18px;
}

.tac-mid-line {
	opacity: 0;
}

.tac-bot-line {
	transform: rotate(-45deg);
	transform-origin: 10% -122%;
	width: 18px;
}

.border-slant {
	position: relative;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border: none;
	outline: none;
}

.border-slant:before {
	content: "";
	position: absolute;
	left: -16px;
	top: 0;
	width: 0;
	border-left: 16px solid transparent;
	border-top: 45px solid #fff;
}

.border-slant:after {
	content: "";
	position: absolute;
	right: -16px;
	top: 0;
	width: 0;
	border-left: 16px solid #fff;
	border-top: 45px solid transparent;
}

/* FIRST MENU CSS */

.tac-search-container {
	background-color: #b95915;
	width: 100%;
	height: 45px;
	background: #b95915;
	display: flex;
	align-items: center;
}

.tac-search-input {
	border: none;
	box-shadow: none;
	width: 263px;
	height: 26px;
	/* font-family: "AvenirNextLTW01-Condens_721299"; */
	font-size: 14px;
	line-height: 16px;
	color: #333;
	margin-left: 15px;
}

.navMobile .dl-menuwrapper li a.has-children:after {
	content: "";
	width: 22px;
	height: 22px;
	position: absolute;
	right: 16px;
	top: 7px;
	background: url(/includes/public/assets/icon-menu-arrow.png) no-repeat center;
}
